body{
    background-color: pink;
    border: 10px solid white;
    border-radius: 10px;
    background-image: url(https://pub-static.fotor.com/assets/bg/c016fa21-f66d-4548-a21f-3cc57370a12d.jpg);
    height: auto;
    width: auto;
    text-align: center;
    font-size: larger;
    font-style: oblique;
    text-align: center;
                animation: zoom 1.5s infinite;
           }
           @keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
  
}
